<% include template/header %>
<div class="col-sm-12 img-bgr">
    <header class="to">
        <div id="getting-started" class="wow bounceInLeft" data-wow-delay="1s"></div>
        <img src="../images/s3.png" alt="" class="hoatiet1 wow bounceInUp" data-wow-delay="0.5s">
        <img src="../images/s4.png" alt="" class="hoatiet2 wow bounceInUp" data-wow-delay="0.6s">
        <img src="../images/s4.png" alt="" class="hoatiet3 wow bounceInUp" data-wow-delay="0.7s">
        <img src="../images/s3.png" alt="" class="hoatiet4 wow bounceInUp" data-wow-delay="0.8s">
        <div class="chuto wow bounceInLeft" data-wow-delay="0.9s">Countdown to valentine's day!</div>
        <a href="#">
            <div class="nut wow bounceInLeft" data-wow-delay="1.1s">See our collection for valentine day!</div>
        </a>
    </header>
</div>
<div class="col-sm-8 offset-sm-2">
    <div class="row">
        <% if(success_msg.length >0){ %>
        <div class="alert alert-success text-center wow bounceInLeft col-sm-12 " data-wow-delay="0.1" role="alert">
            <strong>
                <%= success_msg %>
                <%if(locals.user){ %>
                <%=user.lastname %></strong>
                <%} %>
        </div>
        <%} %>

    </div>
</div>

<section class="session1">
    <div class="row">

        <h2 class="text-center title-block wow bounceIn m-t-100" data-wow-delay="0.1s" data-wow-offset="50">CHECK OUT OUR
            NEWEST CARDS</h2>
        <div class="col-lg-12 grid-uniform">
            <div class="row">
                <% 
                            var j = 100;
                            products.forEach(function(product){
                                j+=100;
                                %>
                <div class="col-sm-3 float-left">
                    <a href="/detail-product/<%= product._id %>">
                        <div class=" wow bounceIn" data-wow-delay="<%= j %>ms">
                            <div class="grid__item  product-item">
                                <div class="grid__image">
                                    <img class="anhthem1" src="<%= product.big_image[0] %>">
                                    <img class="anhthem2" src="<%= product.small_image[0] %>">
                                </div>
                                <form action="" class="variants AddToCartForm">
                                    <h3 class="h6"><a href="">
                                            <%= product.pro_name %></a></h3>
                                    <div class="price">
                                        <span class="product-price">
                                            $
                                            <%= (product.pro_price)/100 %>
                                        </span>
                                        <span class="collection-ratings__wrap">
                                            <div class="star-ratings-css">
                                                <div class="star-ratings-css-top">
                                                    <span>★</span>
                                                    <span>★</span>
                                                    <span>★</span>
                                                    <span>★</span>
                                                    <span>★</span>
                                                </div>
                                                <span class="text">(4685)</span>
                                            </div>
                                        </span>
                                    </div>
                                    <% if(locals.user){ %>
                                    <a href="/add-to-cart/<%= product._id %>"><button type="button" class="btn btn-primary kieu">Add
                                            to cart</button></a>
                                    <%} %>
                                    <% if(!locals.user){ %>
                                    <a href="/add-to-cart/<%= product._id %>"><button type="button" class="btn btn-primary kieu">Buy
                                            Now</button></a>
                                    <%} %>
                                </form>
                            </div>
                        </div>

                        
                    </a>
                </div>
                <%}) %>
            </div>
        </div>

    </div>

</section>
<div class="session1">
    <div class="row">
        <h2 class="text-center title-block cart-title wow bounceIn m-t-100" data-wow-delay="0.1s" data-wow-offset="50">CARDS
            FOR EVERY
            OCCASION</h2>
        <% 
            var i = 80;
            categories.forEach(function(category){
               
                    i+=80;
               
 %>
        <a href="/list-products/<%= category._id %>/1" class="col-sm-4 cate1 wow bounceInUp" data-wow-delay="<%= i %>ms">
            <div class=" text-center">
                <div class="tinto">
                    <img src="<%= category.cate_images[0] %>" alt="" class="layer1">
                    <div class="xam"></div>

                    <div class="gradient"></div>
                    <div class="hinhvuong"></div>
                    <div class="chuto1">
                        <%= category.cate_name %>
                    </div>
                </div>
            </div>
        </a>
        <%}); %>
    </div>
</div>
<section class="session1">
    <h2 class="text-center m-b-50 m-t-100 title-block wow bounceIn" data-wow-delay="0.1s" data-wow-offset="50">News Latest</h2>

    <div class="col-lg-12 grid-uniform">
        <div class="row">
            <div class="owl-item1 wow bounceInLeft col-sm-4" data-wow-delay="0.2s">
                <div class=" text-center homepage-article">
                    <div class="article-image">
                        <a href="/blogs/pop-up-cards/funny-birthday-card-sayings">
                            <div class="article-date animation">
                                <span class="day"><strong>19</strong></span>
                                <span class="month">Dec</span>
                            </div>
                            <div class="image">
                                <img src="../../images/relate1.jpg" alt="">
                            </div>
                        </a>
                    </div>
                    <h3 class="add-h3">
                        <a href="/blogs/pop-up-cards/funny-birthday-card-sayings">56 funny birthday card
                            sayings for everyone you know (yes, even the dog)</a>
                    </h3>
                    <hr class="kevach">
                    <div class="rte">
                        <p class="p-new">Happy Birthday to you, happy birthday to you, happy birthday dear
                            (insert name
                            of loved one here), happy birthday to...
                        </p>
                    </div>
                    <p class="p-new"><a href="/blogs/pop-up-cards/funny-birthday-card-sayings">Read more →</a></p>
                </div>
            </div>
            <div class="owl-item1 wow bounceInUp col-sm-4" data-wow-delay="0.2s">
                <div class=" text-center homepage-article">
                    <div class="article-image">
                        <a href="/blogs/pop-up-cards/retail-partner-spotlight-terra-firma">
                            <div class="article-date animation">
                                <span class="day"><strong>17</strong></span>
                                <span class="month">Dec</span>
                            </div>
                            <div class="image">

                                <img src="../../images/relate2.jpg" alt="">
                            </div>
                        </a>
                    </div>
                    <h3 class="add-h3"><a href="/blogs/pop-up-cards/retail-partner-spotlight-terra-firma">Hey,
                            have you
                            met… Sharlet of Terra Firma? Marketplace in Fort</a></h3>
                    <hr class="kevach">
                    <div class="rte">
                        <p class="p-new">Last month, we introduced you to Antonio of To the Moon
                            Marketplace in Fort
                            Lauderdale, Florida. You can always shop...</p>
                    </div>
                    <p class="p-new"><a href="/blogs/pop-up-cards/retail-partner-spotlight-terra-firma">Read
                            more →</a></p>
                </div>
            </div>
            <div class="owl-item1 wow bounceIn col-sm-4" data-wow-delay="0.2s">
                <div class=" text-center homepage-article">
                    <div class="article-image">
                        <a href="/blogs/pop-up-cards/diy-festive-feasts-and-seats">
                            <div class="article-date animation">
                                <span class="day"><strong>13</strong></span>
                                <span class="month">Dec</span>
                            </div>
                            <div class="image">
                                <img src="../../images/vochong.jpg" alt="">
                            </div>
                        </a>
                    </div>
                    <h3 class="add-h3"><a href="/blogs/pop-up-cards/diy-festive-feasts-and-seats">DIY: Make
                            festive name
                            cards for your holiday feasts with Lovepop</a></h3>
                    <hr class="kevach">
                    <div class="rte">
                        <p class="p-new">Get your crafting supplies out and ready! It's time for another
                            festive DIY
                            project to get you in the holiday...</p>
                    </div>
                    <p class="p-new"><a href="/blogs/pop-up-cards/diy-festive-feasts-and-seats">Read more →</a></p>
                </div>
            </div>
        </div>
    </div>
</section>
<% include template/footer %>